/* This is the css for my homepage the banner, sections and the footer */


body {
  margin: 0;
  font-family: 'Cascadia Code', Consolas, 'Courier New', monospace;
}

button {
  background-color: black; /* Set the background color of all buttons to black */
  color: white; /* Set the text color of all buttons to white */
}
