.portfolio-card {
    display: flex;
    margin-bottom: 20px;
    border: 3px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
  }
  
  .portfolio-details {
    flex: 1;
    display: flex;
    align-items: center;
  }
  
  .portfolio-image {
    width: 200px; /* Adjust the width of the image column as needed */
    padding: 10px;
  }
  
  .portfolio-image img {
    width: 100%;
    height: auto;
  }
  .add-New-Item-Button {
    display: flex;
    justify-content: flex-end; /* Align items to the end (right) of the container */
}
.full-page-container {
  height: 100vh; /* Set the height to fill the entire viewport */
  background-color: #86C232; /* Set the background color */
  overflow: auto; /* Add overflow:auto to enable scrolling if content exceeds viewport height */
}

  